@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;500&display=swap');

body {
    font-family: "Lato", sans-serif;
    margin: 0;
}

.outer {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top left, #3ed8ff, #a8f5ff);
}

h1 {
    margin-top: 10px;
    cursor: default;
}

.name {
    display: flex;
    gap: 15px;
}

.container {
    max-width: fit-content;
    margin: auto;
    padding: 20px 30px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    background: linear-gradient(to top left, #ffffff, #ffffff33 0.1);
    box-shadow: 2px 2px 5px #2773a5;
    z-index: 1;
    position: relative;
    top: 45%;
    transform: translateY(-50%);
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

input {
    height: 2.4rem;
    font-size: 1rem;
    border-radius: 20px;
    border: 1px solid gray;
    padding: 0 17px;
    transition: 0.3s ease-in;
}

input:hover {
    transform: scale(1.02);
    border: 1px solid black;
}

label {
    margin-left: 17px;
    margin-bottom: 2px;
    font-weight: 500;
    color: black;
}

button {
    padding: 10px 25px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 20px;
    border: none;
    transition: 0.2s ease-in-out;
    margin-top: 10px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    background-color: #0f4f64d2;
}

button:hover {
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.559);
    transform: translateX(-50%) scale(1.1);
}

.c1 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(to top right, #ffffff44, #ffffffff);
    position: absolute;
    top: 100px;
    left: 60px;
    z-index: 0;
}

.c2 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(to top left, #ffffff33, #ffffffff);
    position: absolute;
    bottom: 150px;
    right: 70px;
    z-index: 0;
}

.error-message {
    color: red;
    font-size: 0.9em;
}

.hidden {
    display: none;
}

#successMessage {
    margin-top: 20px;
    color: green;
    font-size: 1.2em;
}
